.carousel-item img {
    width: fit-content !important;
    margin-right: auto;
    margin-left: auto;
}

.carousel.slide {
    background-color: #606C5D;
    padding-top: 60px;
}

.table {
    --bs-table-bg: #F7E6C4 !important;
    box-shadow: 0 4px 10px;
    font-family: 'Delicious Handrawn', cursive;
}
.Zubereitung>*{
    color: #FFF4F4;

}

.rounded {
    border-radius: 0.5px !important;
}

.label-container {
    margin: 20px 50px !important;
    color: #F1C376;
}

.row> img {
    box-shadow: 0 4px 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.image-row{
    margin-right: auto !important;
    margin-left: auto !important;
}

.carousel-indicators {
    margin-bottom: 0 !important;
}

@media screen and (min-width: 992px) {
    .carousel-item img {
        max-height: 600px;
    }
}
