/* navigation */

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navbar-xs-m {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navbar-brand {
    margin-left: 16px;
}

.navbar-toggler {
    margin-right: 16px;
}

.form-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.collapse {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.btn {
    margin: 0px 16px 0px 10px;
}

/* carousel */

#recipes {
  margin-top: 60px;
}

.carousel-item img {
  width: fit-content !important;
  margin-right: auto;
  margin-left: auto;
}

.carousel.slide {
    background-color: #606C5D;
    padding-top: 60px;
}

.table {
  --bs-table-bg: #F7E6C4 !important;
  box-shadow: 0 4px 10px;
  font-family: 'Delicious Handrawn', cursive;
}
.Zubereitung>*{
  color: #FFF4F4;
  margin-bottom: 50px;
}

.rounded {
  border-radius: 0.5px !important;
}

.label-container {
  margin: 20px 50px !important;
  color: #F1C376;
}

.row> img {
  box-shadow: 0 4px 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.image-row{
    margin-right: auto !important;
    margin-left: auto !important;
}

.carousel-indicators {
    margin-bottom: 0 !important;
}

@media screen and (min-width: 992px) {
  .carousel-item img {
      max-height: 600px;
  }
}

/* preise */

.display {
  font-size: 35px;
}

.pricing-text {
  text-align: center !important;
}

.price-color {
  color: #fff !important;
  background-color: #606c5d !important;
}

.border-div {
  --bs-border-opacity: 1;
  border-color: #606c5d !important;
}

button {
  background-color: #f1c376;
}

/* about */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F7E6C4;
  padding: 30px 0;
  color: #606C5D;
}

#about h2 {
  margin-bottom: 10px;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 3rem; /
}

#about p {
  max-width: 800px;
  line-height: 1.6;
  margin: 0 auto 10px auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.25rem;
}

/* footer */

footer {
  background-color: #606C5D !important;
  color: #F1C376 !important;
  padding: 20px 0;
}

footer .container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 0;
}
