.carousel-item img {
  width: fit-content !important;
  margin-right: auto;
  margin-left: auto;
}

.carousel.slide {
  background-color: #606c5d;
  padding-top: 30px;
}

.table {
  --bs-table-bg: #f7e6c4 !important;
  box-shadow: 0 4px 10px;
  font-family: "Delicious Handrawn", cursive;
}
.Zubereitung > * {
  color: #fff4f4;
}

.rounded {
  border-radius: 0.5px !important;
}

.label-container {
  margin: 20px 50px !important;
  color: #f1c376;
}

.row > img {
  box-shadow: 0 4px 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.recipe {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.recipe-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.recipe-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.recipe-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #606c5d;
  color: black;
  text-align: center;
  padding: 10px;
}
